<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello</h1>
<form method="get" action="/register">
  <table border="1">
    <tr><td>Enter firstname</td>
      <td><input type="text" name="fname"></td></tr>
    <tr><td>Enter lastname</td>
      <td><input type="text" name="lname"></td></tr>
    <tr><td>select gender</td>
    <td><input type="radio" name="gender" value="male">Male
      <input type="radio" name="gender" value="male">Female
    </td></tr>
    <tr><td>select cource></td>
      <td><input type="checkbox" name="cource1" value="python">Python</td>
      <td><input type="checkbox" name="cource2" value="java">java</td>
      <td><input type="checkbox" name="cource3" value="sql">sql</td>
    </tr>
    <tr><td><input type="submit" value="Register"></td><td></td></tr>
  </table>

</form>

</body>
</html>